@model test.Models.CountriesAndLanguages
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Header = "Official languages of countries";
}
<table>
    <thead>
        <tr>
            <th>Continent</th>
            <th>Country</th>
            <th>Language</th>
            <th>Population</th>
            <th>Official Language Use %</th>
            <th>Official Language Population Use</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    @{
        var countryAndLanguages = Model;
        float percentage;
        int people;
    }
    <tbody>
        @for (int i = 0; i < Model.Countries.Count; ++i)
        {
            percentage = (float)Math.Round(countryAndLanguages.CountryLanguages[i].percentage, 2);
            people = (int)(countryAndLanguages.Countries[i].population * (percentage / 100));
            <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
                <td>@Html.DisplayFor(modelitem => countryAndLanguages.Countries[i].continent)</td>
                <td>@Html.DisplayFor(modelitem => countryAndLanguages.Countries[i].name)</td>
                <td>@Html.DisplayFor(modelitem => countryAndLanguages.CountryLanguages[i].language)</td>
                <td>@Html.DisplayFor(modelitem => countryAndLanguages.Countries[i].population)</td>
                <td>@Html.DisplayFor(modelitem => percentage)</td>
                <td>@Html.DisplayFor(modelitem => people)</td>
                <td>@Html.ActionLink("Details", "/country/" + countryAndLanguages.Countries[i].code)</td>
            </tr>
        }
    </tbody>
</table>
<br />
<div>
    <form action="/Home/countries" method="post">
        Elements on page: @*<textarea class="pageItemsCount" onkeypress="return isNumberKey(event)" rows="1">@Model.Page</textarea>*@
        <input id="PageSize" name="PageSize" type="number" min="1" value="'@(Model.PageSize)'" onkeypress="return isNumberKey(event)" />
        <input type="submit" value="save"/>
    </form>
</div>

Page @(Model.Pages < Model.Page ? 0 : Model.Page) of @Model.Pages

@Html.PagedListPager(Model.Countries, page => Url.Action("countries", new { page, Model.PageSize }))

@section footer{
    &copy; Made by Mateusz Florczak for Kainos
}
